[submodule "firmware/submodules/samplemodule"]
	path = firmware/submodules/samplemodule
	url = https://github.com/cccc/U23-Library-Sample-Submodule.git
[submodule "firmware/submodules/janus"]
	path = firmware/submodules/janus
	url = https://github.com/tu500/minGame.git
